@import 'scss';

.servicesSection {
  padding: 90px 0px;
  & h2 {
    @include title-h2-dark;
  }

  & p {
    @include text;
    margin-top: 20px;
  }

  .servicesList {
    @include gridList;
    margin-top: 70px;
  }
}
