@import 'scss';
.menuContent {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding: 0 20px;
  margin-top: 10px;
  border-radius: 0.25rem;
  position: relative;
}
.menuContent:before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: url('../../../assets/images/header-bg.png') center repeat;
  filter: blur(8px);
  z-index: -1;
}
