@import 'scss';
.container {
  width: 100%;
  max-width: 700px;
  float: left;
  border: 1px solid black;
  padding: 17px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $size-m) {
    flex-direction: column;
  }

  .image {
    position: relative;
    width: 100%;
    height: max-content;

    @media screen and (max-width: $size-m) {
      width: 162px;
      height: 106px;
    }
    & > img {
      width: 100%;
    }
  }
  .icon {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(50%, -50%);
    rotate: 180deg;
    & > svg {
      fill: $accentColor;
    }
  }
  .textWrap {
    margin-left: 30px;
    & > h3 {
      font-size: 20px;
      color: $textColor;
      text-transform: uppercase;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0;
      @media screen and (max-width: $size-m) {
        margin-top: 20px;
      }
    }

    & > p {
      @include text;
      margin-top: 10px;
      @media screen and (max-width: $size-m) {
        text-align: left;
      }
    }
  }
}
