$titleColorDark: #121111;
$titleColorLight: #ffffff;
$accentColor: #fabb25;
$textColor: #090808;
$buttonDark: #070201;
$grey: #313131;
$light: #fefefe;
$errorColor: #d52121;
$lightGreyInput: #989696;

$size-s: 390px;
$size-m: 720px;
$size-l: 1200px;
